/* You can add global styles to this file, and also import other style files */
#index-body {
    background-image: url("assets/pahawang.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    
}