<!-- <div class="jumbotron text-center">
  <h1>Fund Race App</h1>
  <p class="lead">Welcome to our custom MEAN authentication application built from scratch</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid Node.js/Express server using Mongoose to organize models and query the database</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular-CLI to generate components, services and more. Local dev server and easy compilation</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentication using JSON web tokens. Login and store user data</p>
  </div>
</div> -->
<div id="highlight">
  <h5>FundRace periode 24/12/2017~02/01/2018</h5>
  <h1>
    <b> BAKTI SOSIAL
      <br> PPA/PPTI 2017
    </b>
  </h1>
  <h2 id="home-paragraph">untuk menutup tahun 2017, mahasiswa PPA/PPTI
    <br> menyelenggarakan kegiatan bakti sosial di Panti <br>
    Asuhan Cilebut.
  </h2>

  <p>dana terkumpul:</p>
  <h1><b>Rp. 15,710.00</b></h1>
  <h2 id="home-paragraph">
    
        ikut <a id="join-link">bergabung sebagai fundRacer</a> atau
        <br> donasi secara anonim ke 4740483389
    
  </h2>
</div>