<nav class="navbar navbar-expand-lg" id="navbar">
  <a class="navbar-brand" href="#">FundRace</a>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" name="home">Beranda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" name="campaign">Campaign</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" name="peringkat">Peringkat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" name="reg">Masuk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" name="reg">Daftar</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" name="cafe">FundRacer's Cafe</a>
      </li>
    </ul>
  </div>
</nav>
